*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.bg-image{
    background-image: url(Unilab_img/image\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
    padding: 0 170px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 20;
    transition: background-color 0.3s ease;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
.nav-links li , .logo{
    list-style-type: none;
    text-decoration: none;
}
.nav-links li a , .iconuser ,.logo,h3,h1{
    text-decoration: none;
    color: white;
}
.resp_icon{
    display: none;
}
.nav-links li a:hover{
    color: #FF6700;
}
.logo{
    font-size: 30px;
}
.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
}
.center-content h3 h1{
  color: white;
}
.btn-Class{
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #FF6700;
}
.btn1{
    padding: 10px 15px;
    cursor: pointer;
}
.btn-Class:hover{
    background-color: #C85100;
}
.transparent {
    background-color: transparent;
  }
  
  .gray {
    background-color: #EAE9E9;
  }

  .card-section {
    width: 23%;
    display: flex;
    flex-wrap: wrap;
    
  }
  #cardContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
  }
  #cardContainer0{
    margin: 25px 60px 25px 60px;
    display: flex;
    gap: 10px;
    flex-direction: column;
  
  }
  #cardContainer0 h1 , p{
    color:#424244;
  }
  
  .card {
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    border: none !important;
   
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .felx-d{
    display: flex;
    flex-direction: column;
  }
  .video{
    width:92%;
    margin: 50px;
  }
  .video_tag{
    width: 100%;
    margin-top: 20px;
  }
.flex-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.contnet_div1 , .contnet_div{
  width: 22%;
}
.flex-div img{
  width:100%;
  height: 400px;

  }
.contnet_div1 h2 ,p{
  font-size: 15px;
}
.contnet_div h2 ,p{
  font-size: 15px;
}
.ml-1{
  margin-left: 50px;
}
.blogs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.blogs_card{
  width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.blogs img{
  width: 100%;
}






  @media only screen and (max-width: 1024px) {
    body {
      font-size: 16px;
    }
    .header_div{
        display: none;
        
    }
    .resp_icon{
        display: block;
    }
    .header{
        padding: 0px 50px;
    }
    
    .card-section{
        width: 46%;
    }
    .video{
        width: 85%;
    }
  }
  @media only screen and (max-width: 768px) {
   .card-section{
    width: 70%;
   }
   .video{
    width: 75%;
   }
   .contnet_div{
    display: none;

   }
   .contnet_div1{
    width: 80%;
   }
  }
